.Weather {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}

.Weather .place {
  padding: 10px;
  padding-left: 30px;
  padding-top: 25px;
  text-transform: uppercase;
}

.Weather .current-temperature img {
  margin-left: 30px;
  margin-top: 20px;
  height: 75px;
  width: 75px;
}

.Weather .temperature strong {
  font-size: 54px;
  line-height: 1;
  font-weight: 400;
  margin-top: 20px;
}

.Weather .temperature .units {
  position: relative;
  font-size: 16px;
  margin-top: 20px;
}

.Weather .temperature .units a {
  text-decoration-line: none;
}

.Weather .temperature .units a:hover {
  text-decoration: none;
}
.Weather .forecast {
  padding: 30px;
}
.Weather .forecast .title {
  font-size: 20px;
}

.Weather .forecast .day {
  text-align: center;
}
.Weather .forecast .day-temperature {
  font-size: 20px;
}
